/.UnitAdapter.java._trace
/.ProtocolDeclAdapter.java._trace
/.ProtocolAdapter.java._trace
/.AssertAdapter.java._trace
/.ActionSuiteAdapter.java._trace
/.ArchBehaviorDeclAdapter.java._trace
/.ExpressionAdapter.java._trace
/.FormalParameterAdapter.java._trace
/.FieldDeclAdapter.java._trace
/.ComplexNameAdapter.java._trace
/.IntegerValueAdapter.java._trace
/.AnyActionAdapter.java._trace
/.ForEachProtocolAdapter.java._trace
/.ValuingBehaviorAdapter.java._trace
/.AssertBehaviorAdapter.java._trace
/.ForEachBehaviorAdapter.java._trace
/.TellAssertionAdapter.java._trace
/.UntellAssertionAdapter.java._trace
/.AskAssertionAdapter.java._trace
/.TupleTypeAdapter.java._trace
/.SequenceTypeAdapter.java._trace
/.ConnectionTypeAdapter.java._trace
